body {
    background-color: #f0f0f0ce;
    margin: 5px;
}

h1 {
    font-weight: bold;
    background-color: red;
    color: white;
    border: 10px solid darkgreen;
    padding: 20px;
}

input[type="text"] {
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    border: 5px solid black;  
}

button {
    padding: 10px;
    width: 120px;
    cursor: pointer;
    background-color: white;
}

#country_info {
    margin-left: 15px;
}

#region_countries > h2 {
   margin-left: 15px;
}

#region_countries > p {
    margin-left: 50px;
 }

@media (max-width: 400px) {
    input[type="text"] {
     display: flex;
     flex-direction: column;
     border: 1px solid black;
    }
    
    button {
        margin-top: 10px;
        margin-left: 10px;
    }
}